<div class="jumbotron">
    <h2>CNA 2.0 Health Status Service</h2>
    <p class="lead">Provides the service health information for CNA2 environment.</p>
</div>
<div class="jumbotron">
        <h2>API Help Information</h2>
        <p><a class="btn btn-default" href="/Help">Click on this link for API help page</a></p>
</div>
