<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WorkflowDbContext" connectionString="$($env:LandLordConnectionString)" providerName="System.Data.SqlClient" />
    <add name="LandLordDbContext" connectionString="$($env:LandLordConnectionString)" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="RollingFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs/trace.log" formatter="Text Formatter" asynchronous="true" filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xD;&#xA;Message: {message}{newline}&#xD;&#xA;Machine Name: {machine}{newline}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="RollingFlatFileTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="RollingFlatFileTraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework codeConfigurationType="Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository.Landlord.LandlordConfiguration, Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository">
    <contexts>
      <context type="Sage.CA.SBS.ERP.Sage300.Workflow.DataAccess.WorkflowDbContext,  Sage.CA.SBS.ERP.Sage300.Workflow.DataAccess">
      </context>
      <context type="Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository.Landlord.LandlordDbContext, Sage.CA.SBS.ERP.Sage300.Common.BusinessRepository, Version=1.0.0.0, Culture=neutral"></context>
    </contexts>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <appSettings>
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="" />

    <add key="SystemStorageConnectionString" value="" />

    <add key="MaxSessionPoolSize" value="0" />

    <!-- Pool Configuration : Start-->
    <!--Whether session pool is enabled or not. For web application it should be true. For worker role and web api it should be set to false.-->
    <add key="SessionPoolEnabled" value="false" />
    <!--Maximum number of concurrent sessions allowed per user. If it is -1 then no restrictions.For web api it should be 100-->
    <add key="MaxAllowedSessions" value="-1" />
    <!--Session (if exists) will be released from the pool based on this timeout (inactivity).-->
    <add key="SessionPoolTimeOut" value="20" />
    <!-- Pool Configuration : End-->

    <add key="MessageVisibilityTimeOut" value="60" />
    <add key="AzureQueueName" value="$($env:AzureQueueName)" />

    <!-- Maximum number of threads can be created by worker role-->
    <add key="MaxThreadCount" value="5" />

    <!-- Shared Data Directory Path Prefix for Tenant include \ at the end. -->
    <add key="SharedDataDirectory" value="" />
  </appSettings>
</configuration>