<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="2.1.0.0" newVersion="2.3.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <appSettings>
        <add key="StartAuthorisationAttemptUri" value="https://signon.sso.staging.services.sage.com/SSO/OAuthService/WebStartAuthorisationAttempt?response_type={RESPONSETYPE}&amp;client_id={CLIENTID}&amp;redirect_uri={REDIRECTURI}&amp;scope={SCOPE}&amp;state={STATE}" />
        <add key="StartAuthorisationAttemptUri_WithCredential" value="https://services.sso.staging.services.sage.com/SSO/OAuthServiceMutualSSL/WebStartAuthorisationAttempt?response_type={RESPONSETYPE}&amp;client_id={CLIENTID}&amp;redirect_uri={REDIRECTURI}&amp;scope={SCOPE}&amp;state={STATE}" />
        <add key="RedirectUri" value="https://signon.sso.staging.services.sage.com/oauth/native" />
        <add key="GetClientCredentialUri" value="https://signon.sso.staging.services.sage.com/SSO/OAuthService/WebGetClientCredential" />
        <add key="GetAccessTokenUri" value="https://services.sso.staging.services.sage.com/SSO/OAuthServiceMutualSSL/WebGetAccessToken" />
        <add key="DeviceName" value="MyDeviceName" />

        <add key="ClientId" value="1szYMEB7BcQv3ErUfLusFgmwxf9xD4Nx" />
        <add key="Scope" value="b0rxfspk();" />

        <add key="CEProductId" value="E523E669-60FD-4633-A4FB-22CE45314FE7" />
        <add key="CEApplicationId" value="498D5BE1-C1BE-4678-A7B6-4205C368C014" />

        <add key="SageIdAccessTokenEncryptionKey" value="tqmmoqOuAd1SujPzIGAUNfJPO0ZuiWqKjsUHnSoxvU8=" />
        <add key="SageIdAccessTokenEncryptionInitialisationVector" value="qyvWK1T2PydiGr02/m3eVA==" />
        <add key="SageIdSSORootCertificateFindType" value="FindBySubjectName" />
        <add key="SageIdSSORootCertificateFindValue" value="Sage SSO Identity Root (Pre-Production)" />

        <add key="CEServerBaseUri" value="~" />
        <add key="CELogonResultUrl" value="/ODataAuthentication/LoginResult/{0}" />
        <add key="CERepositoryEndPointConfig" value="CloudEnablementStaging" />
        <add key="SageIdClientConfig" value="SageIDPreProduction" />
        <add key="SageIdClientConfigIM" value="SageIDPreProductionIM" />
        <add key="SageIdClientConfigAM" value="SageIDPreProductionAM" />
        <add key="SageIdDefaultTemplate" value="Sage300Online20" />

        <add key="SageIdDefaultMobileTemplate" value="Sage300Online20Mobile" />
        <add key="SageIdSessionTimeoutMinutes" value="20" />
        <add key="SageIdServiceCallTimeOutSecs" value="60" />
        <add key="SageIdAccessTokenEncryptionOn" value="true" />

        <add key="CEEnableTrace" value="true" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebSSOService" closeTimeout="00:00:20" openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="CEDataService" closeTimeout="00:00:20" openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://services.sso.staging.services.sage.com/SSO/WebSSOService" behaviorConfiguration="MutualAuthClientEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="WebSSOService" contract="SageSSO.ServiceReferences.IWebSSOServiceSoap" name="SageIDPreProduction" />
            <endpoint address="https://services.sso.staging.services.sage.com/SSO/IdentityManagementService" behaviorConfiguration="MutualAuthClientEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="WebSSOService" contract="SageSSO.ServiceReferences.IIdentityManagementServiceSoap" name="SageIDPreProductionIM" />
            <endpoint address="https://services.sso.staging.services.sage.com/SSO/UserAccountManagementService" behaviorConfiguration="MutualAuthClientEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="WebSSOService" contract="SageSSO.ServiceReferences.IUserAccountManagementServiceSoap" name="SageIDPreProductionAM" />
            <endpoint address="https://ceds-qa.sagedatacloud.com/CEUMRepository.svc" binding="basicHttpBinding" behaviorConfiguration="CEMutualAuthClientEndpointBehavior" bindingConfiguration="CEDataService" contract="CEDataService.ICEUMRepository" name="CloudEnablementStaging" />
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MutualAuthClientEndpointBehavior">
                    <clientCredentials>
                        <clientCertificate findValue="CN=Sage 300 Online 2.0 PE (Dev), O=Sage (UK) Limited, C=United Kingdom" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
                        <!-- Change findvalue to your product based on environment -->
                        <serviceCertificate>
                            <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" />
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
                <behavior name="CEMutualAuthClientEndpointBehavior">
                    <clientCredentials>
                        <clientCertificate findValue="C2471A2A893D04C31F67CBF01C240E08FC2BAE9D" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
                        <!-- Change findvalue to your product -->
                        <serviceCertificate>
                            <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" />
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>