@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>POC</title>
    @Styles.Render("~/Content/Styles/localizedLessCssR2")
</head>
    <body>
        <div class="wrapper">
            <div id="container" class="container_16">
            </div>
        </div>

        <script src="/Scripts/App/config.js"></script>
        <script src="/Scripts/Vendor/require.min.js"></script>
    </body>
</html>
