<?xml version="1.0" encoding="utf-8"?>
<!--
       The scripts included in this configuration will be executed when the Landlord Database Setup Utility is executed.

       This XML configuration file will allow internal and external developers to include scripts to be executed in 
       the landlord database.
-->
<scripts>
  <script>Create_Tenant_Schema.sql</script>
  <script>Create_WorkerRole_Schema.sql</script>
  <script>Insert_WorkerRole_Data.sql</script>
  <script>Update_WorkflowOnPremise_Data.sql</script>
</scripts>