<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ProcuraDataBaseTraining" connectionString="data source=NNDCIDCSQL01;initial catalog=ProcuraTRAIN;user id=techsupport;password=NNDdev04;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ShrekDevEntities" connectionString="metadata=res://*/Authentication.SystemUser.csdl|res://*/Authentication.SystemUser.ssdl|res://*/Authentication.SystemUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NND-WRK-360;initial catalog=ShrekDev;integrated security=False;user id=sa;connect timeout=15;encrypt=False;trustservercertificate=True;applicationintent=ReadWrite;multisubnetfailover=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>