<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="LandLordDbContext" connectionString="Data Source=o2n50ntewq.database.windows.net;Initial Catalog=cloudlandlorddb;user id=TopBossSQL;password=sql.S300Dev@13888;Integrated Security=false;MultipleActiveResultSets=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CertificateThumbprint" value="EB7EFF024487ADA9F07F6EF78861EB51747DC9BD"/>
  </appSettings>
</configuration>
