<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
 <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="DebugListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="debug.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
 <dataCacheClients>
    <dataCacheClient name="default">
      <autoDiscover isEnabled="true" identifier="Sage.CA.SBS.ERP.Sage300.Web" />
    </dataCacheClient>
  </dataCacheClients>
</configuration>