
@{
    ViewBag.Title = "DeveloperScreenMap";
}

<h2>Developer Screen Map</h2>

<iframe src="https://onedrive.live.com/embed?cid=B7C70A50E448E0F3&resid=b7c70a50e448e0f3%21599&authkey=AIWQxTwrheZVfK8&em=2" width="1200" height="800" frameborder="0" scrolling="yes"></iframe>